body {
    background-color: #F4D04E;
}

* {
    margin: 0;
    padding :0;
    font-family: "Figtree", sans-serif;
}

.card {
    /* Position element at center of viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Sizes */
    width: 24rem;
    padding: 1.5rem;
    box-sizing: border-box;

    /* Shadow */
    box-shadow: 8px 8px rgba(0, 0, 0, 1);

    /* Colors */
    background-color: white;

    /* Borders */
    border-radius: 1.25rem;
    border: .0625rem;
    border-color: black;
    border-style: solid;

    /* Flex settings */
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.card-info {
    /* Flex settings */
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    align-items: flex-start;
}

.status {
    /* Fonts */
    font-weight: 800;
    font-size: .875rem;

    /* Colors */
    background-color: #F4D04E;
    color: black;

    padding: .25rem .75rem .25rem .75rem;
    line-height: 1.3125rem;

    display: inline-block;
    border-radius: .25rem;
}

.publish-time {
    /* Fonts */
    font-weight: 500;
    font-size: .875rem;
}

.illustration-image {
    height: 12.5rem;
    border-radius: 20px;
}

.article-title {
    /* Fonts */
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.excerpt {
    /* Fonts */
    font-weight: 400;
    font-size: 1rem;
    color : #6B6B6B;
    line-height: 1.5rem;
}

.author {
    /* Flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .375rem;
}

.author-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.author-name {
    color: #111111;
    font-weight: 900;
    font-size: .875rem;
}